.navbar {
    height: 50px;
    background-color: #333333;
    position: fixed;
    width: 100%;
    top: 0;
    border: 0;
}

.col-1 {
    float: left;
    width: 8.33333333%;
}

.col-2 {
    float: left;
    width: 16.66666666%;
}

.col-3 {
    float: left;
    width: 24.99999999%;
}

.col-4 {
    float: left;
    width: 33.33333332%;
}

.col-5 {
    float: left;
    width: 41.66666665%;
}

.col-6 {
    float: left;
    width: 49.99999998%;
}

.col-7 {
    float: left;
    width: 58.33333331%;
}

.col-8 {
    float: left;
    width: 66.66666664%;
}

.col-9 {
    float: left;
    width: 74.99999997%;
}

.col-10 {
    float: left;
    width: 83.3333333%;
}

.col-11 {
    float: left;
    width: 91.66666663%;
}

.col-12 {
    float: left;
    width: 99.99999996%;
}

div {
    height: 50px;
    border: 1px solid red;
}

.row:before {
    display: table;
    content: "";
}
  
.row:after {
    display: table;
    content: "";
    clear: both;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}